
$color1: #F5F7FB;
$color2: #3CA58A;
$color3: #A1A3A7;

.login{
    background-color: $color1;
    display: flex;
    justify-content: center;
    gap: 10px;

    .login__form{
        display: flex;
        flex-wrap: wrap;
        width: 280px;
        border: 2px solid white;
        border-radius: 10px;
        padding: 10px;
        height: 15rem;


        legend{
            color: $color3;
            font-size: large;
            margin-right: 80%;
        }

        .login__input{
            height: 30px;
            border-radius: 10px;
            border: none;
            color: $color3;
            &:focus{
                border: none;
            }
        }

        .login__submit{
            background-color: transparent;
            color: $color3;
            border: none;
            margin-right: 100%;
            margin-bottom: 30px;
            transition: 1s;

            &:hover{
                color: $color2;
                text-decoration: underline;
            }
        }

        .login__registrationLink{
            p{
                font-size:small;
                color: $color3;
            }
        }
    }
}