
$color1: #F5F7FB;
$color2: #3CA58A;
$color3: #A1A3A7;

.friend{
    display: flex;
    color: $color3;

    .onLineSign{
        border: 1px solid $color3;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        margin-right: 5px;
        margin-top: 10px;
    }

    &:hover {
        color: $color2;
        text-decoration: underline;
    }
}