
$color1: #F5F7FB;
$color2: #3CA58A;
$color3: #A1A3A7;

.header{
    background-color: $color1;
    padding: 20px;
    width: 96vw;

    nav{
        display: flex;
        justify-content: space-between;

        .header__logo{
            display: flex;

            .logo__icon{
                margin-top: 10px;
            }
            .logo__name{
                font: italic 1.3em "Fira Sans", serif;
            }
        }

        ul{
            list-style-type: none;
            display: flex;

            a{
                padding: 5px;
                transition: 1s;
                color: $color3;
                text-decoration: none;

                &:hover {
                    color: $color2;
                    text-decoration: underline;
                }
            }
        }

        .header__logOutIcon{
            margin-top: 22px;
        }
    }
}