
$color1: #F5F7FB;
$color2: #3CA58A;
$color3: #A1A3A7;

.header{
    background-color: $color1;
    padding: 20px;
    padding-bottom: 0px;
    width: 96vw;

    nav{
        display: flex;
        justify-content: space-between;

        .header__logo{
            display: flex;
            width: 80%;

            .logo__icon{
                margin-top: 10px;
                width: 30px;
                height: 30px;
            }
            .logo__name{
                font: italic 1.7em "Fira Sans", serif;
            }
        }

        .header__notification{
            margin-top: 20px;

            .notification__icon{
                width: 22px;
                height: 22px;
            }
        }

        .header__logOutIcon{
            margin-top: 22px;
            width: 20px;
            height: 20px;
        }
    }
}