$color1: #F5F7FB;
$color2: #3CA58A;
$color3: #A1A3A7;

.message{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    

    .message__top{
        display: flex;

        .message__sender{
            color: $color2;
            margin-right: 10px;
        }

        .message__text{
            padding: 10px;
            border-radius: 15px;
            background-color: $color2;
            color: white;
            max-width: 300px;
        }
    }

    .message__botom{
        font-size: 12px;
     
    }
}

.message__own{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .message__top{
        display: flex;

        .message__sender{
            color: $color3;
            margin-right: 10px;
        }

        .message__text{
            padding: 10px;
            border-radius: 15px;
            background-color: $color1;
            color: black;
            max-width: 300px;
        }
    }

    .message__botom{
        font-size: 12px;
     
    }
}


