$color1: #f5f7fb;
$color2: #3ca58a;
$color3: #a1a3a7;

.room {
  padding: 10px;
  width: 100%;

  .room__inBox {
    padding: 10px;
    background-color: white;
    width: 75vw;
    height: 30rem;
    border-radius: 10px;
    opacity: 0.95;

    .room__inBox__header {
      display: flex;
      height: 5%;

      h4 {
        color: $color3;
        margin: 0px;
        width: 97%;
      }

      .room__close__icon {
        width: 20px;
        height: 20px;
      }
    }

    .room__messages {
      display: flex;
      height: 95%;
      overflow-y: scroll;
      flex-direction: column;
    }
  }

  .room__bottom {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .room__input {
      width: 80%;
      height: 100px;
      border-radius: 10px;
      border: 0px;
      &:focus {
        outline: none;
      }
    }

    .room__send__btn {
      margin-right: 30px;
      width: 150px;
      height: 40px;
      color: $color3;
      background-color: transparent;
      border: 0px;
      font: italic 1.5em "Fira Sans", serif;
      transition: 1s;

      &:hover {
        color: $color2;
        text-decoration: underline;
      }
    }
  }
}
